(
    name: "Edificadores",
    portrait_key: "edificadores",
    render: (
        atlas_texture: "ella",
        animations: {
            "idle": (27, 37),
            "moving": (38, 44),
            "attacked": (30, 44),
            "action_slash": (45, 59),
            "action_push": (60, 74),
            "action_jump": (75, 89),
            "action_trap": (90, 104),
        }
    ),
    health: (
        value: Health(800),
        min: Health(0),
        max: Health(800),
    ),
    shield: (
        value: Shield(0),
        min: Shield(0),
        max: Shield(0),
    ),
    action_points: (
        value: ActionPoints(8),
        min: ActionPoints(0),
        max: ActionPoints(8),
    ),
    movement_points: (
        value: MovementPoints(5),
        min: MovementPoints(0),
        max: MovementPoints(5),
    ),
    actions: Actions([
        Action(
            name: "Shoot",
            icon_key: "action_shoot",
            animation_key: "action_shoot",
            cost: ActionPoints(4),
            aoe: Zone(min_distance: 0, max_distance: 1),
            range: Around(min_distance: 3, max_distance: 8, check_los: true),
            effects: [Damage(amount: 120, erode: 0.1, crit_mult: 1.4, crit_chance: 0.30)]
        ),
        Action(
            name: "Cripple",
            icon_key: "action_cripple",
            animation_key: "action_cripple",
            cost: ActionPoints(3),
            aoe: Cell,
            range: Around(min_distance: 3, max_distance: 6, check_los: true),
            effects: [
                Damage(amount: 20, erode: 0.1, crit_mult: 1.3, crit_chance: 0.11),
                DamageOverTime(amount: 30, erode: 0.1, duration: 2)
            ]
        ),
        Action(
            name: "Shield",
            icon_key: "action_shield",
            animation_key: "action_shield",
            cost: ActionPoints(2),
            aoe: Cell,
            range: Line(min_distance: 0, max_distance: 1, check_los: true),
            effects: [Shield(amount: 90)]
        ),
        Action(
            name: "Teleport Switch",
            icon_key: "action_teleport",
            animation_key: "action_teleport",
            cost: ActionPoints(5),
            aoe: Cell,
            range: Diagonal(min_distance: 2, max_distance: 6, check_los: false),
            effects: [TeleportSwitch]
        ),
    ])
)
