(
    name: "Ella",
    portrait_key: "ella",
    render: (
        atlas_texture: "ella",
        animations: {
            "idle": (27, 37),
            "moving": (38, 44),
            "attacked": (30, 44),
            "action_slash": (45, 59),
            "action_push": (60, 74),
            "action_jump": (75, 89),
            "action_trap": (90, 104),
        }
    ),
    health: (
        value: Health(1000),
        min: Health(0),
        max: Health(1000),
    ),
    shield: (
        value: Shield(0),
        min: Shield(0),
        max: Shield(0),
    ),
    action_points: (
        value: ActionPoints(8),
        min: ActionPoints(0),
        max: ActionPoints(8),
    ),
    movement_points: (
        value: MovementPoints(5),
        min: MovementPoints(0),
        max: MovementPoints(5),
    ),
    actions: Actions([
        Action(
            name: "Slash",
            icon_key: "action_slash",
            animation_key: "action_slash",
            cost: ActionPoints(4),
            aoe: Cell,
            range: Around(min_distance: 1, max_distance: 2, check_los: true),
            effects: [Damage(amount: 150, erode: 0.1, crit_mult: 2.5, crit_chance: 0.05)]
        ),
        Action(
            name: "Heal",
            icon_key: "action_heal",
            animation_key: "action_heal",
            cost: ActionPoints(2),
            aoe: Cell,
            range: Line(min_distance: 0, max_distance: 0, check_los: true),
            effects: [Heal(amount: 120)]
        ),
        Action(
            name: "Push",
            icon_key: "action_push",
            animation_key: "action_push",
            cost: ActionPoints(2),
            aoe: Cell,
            range: Line(min_distance: 1, max_distance: 2, check_los: true),
            effects: [Push(distance: 3)]
        ),
        Action(
            name: "Teleport",
            icon_key: "action_teleport",
            animation_key: "action_teleport",
            cost: ActionPoints(5),
            aoe: Cell,
            range: Diagonal(min_distance: 2, max_distance: 6, check_los: false),
            effects: [TeleportSwitch]
        ),
    ])
)
