WarriorBundlePreset(
    name: "Freddy",
    animations: {
        "idle": File(path: "animations/freddy_idle.png"),
        "moving": File(path: "animations/freddy_moving.png"),
        "attacked": File(path: "animations/freddy_attacked.png"),
        "action_slash": File(path: "animations/freddy_action_slash.png"),
        "action_push": File(path: "animations/freddy_action_push.png"),
        "action_jump": File(path: "animations/freddy_action_jump.png"),
        "action_trap": File(path: "animations/freddy_action_trap.png"),
    },
    health: Health(Attribute(value: 1000, max: 1000)),
    action_points: ActionPoints(Attribute(value: 8, max: 8)),
    movement_points: MovementPoints(Attribute(value: 5, max: 5)),
    actions: [
        Action(
            name: "Slash",
            icon_texture: File(path: "actions/freddy_sword.png"),
            animation_key: "action_slash",
            cost: 4,
            aoe: ActionAoe::Cell,
            range: ActionRange::Around(min_distance: 1, max_distance: 1),
            effects: [ActionEffect::DamageHealth(amount: 150, erode: 0.1, crit_mult: 1.4, crit_chance: 0.12)]
        ),
        Action(
            name: "Push",
            icon_texture: File(path: "actions/freddy_push.png"),
            animation_key: "action_push",
            cost: 2,
            aoe: ActionAoe::Line(distance: 2),
            range: ActionRange::Line(min_distance: 1, max_distance: 2),
            effects: [ActionEffect::PushLinear(distance: 3)]
        ),
        Action(
            name: "Jump",
            icon_texture: File(path: "actions/freddy_jump.png"),
            animation_key: "action_jump",
            cost: 3,
            aoe: ActionAoe::Cell,
            range: ActionRange::Around(min_distance: 2, max_distance: 5),
            effects: [ActionEffect::SelfTeleport]
        ),
        Action(
            name: "Trap",
            icon_texture: File(path: "actions/freddy_trap.png"),
            animation_key: "action_trap",
            cost: 5,
            aoe: ActionAoe::Cell,
            range: ActionRange::Diagonal(min_distance: 3, max_distance: 5),
            effects: [
                ActionEffect::TrapCell(effects: [
                    ActionEffect::DamageHealth(amount: 20, erode: 0.1, crit_mult: 1.0, crit_chance: 0.0),
                    ActionEffect::DamageMovementPoints(amount: 1),
                ])
            ]
        ),
    ]
)
