(
    name: "Laminas",
    portrait_key: "laminas",
    render: (
        atlas_texture: "laminas_idle",
        animations: {
            "idle": (0, 14),
            "moving": (15, 29),
            "attacked": (30, 44),
            "action_slash": (45, 59),
            "action_push": (60, 74),
            "action_jump": (75, 89),
            "action_trap": (90, 104),
        }
    ),
    health: (
        value: Health(1000),
        min: Health(0),
        max: Health(1000),
    ),
    shield: (
        value: Shield(0),
        min: Shield(0),
        max: Shield(1000),
    ),
    action_points: (
        value: ActionPoints(1000),
        min: ActionPoints(0),
        max: ActionPoints(1000),
    ),
    movement_points: (
        value: MovementPoints(1000),
        min: MovementPoints(0),
        max: MovementPoints(1000),
    ),
    actions: Actions([
        Action(
            name: "Slash",
            icon_key: "action_slash",
            animation_key: "action_slash",
            cost: ActionPoints(4),
            aoe: Cell,
            range: Around(min_distance: 1, max_distance: 2, check_los: true),
            effects: [Damage(amount: 150, erode: 0.1, crit_mult: 1.4, crit_chance: 0.12)]
        ),
        Action(
            name: "Blind",
            icon_key: "action_blind",
            animation_key: "action_blind",
            cost: ActionPoints(4),
            aoe: Cell,
            range: Line(min_distance: 1, max_distance: 2, check_los: true),
            effects: [StealActionPoints(amount: 2)]
        ),
        Action(
            name: "Heal",
            icon_key: "action_heal",
            animation_key: "action_heal",
            cost: ActionPoints(5),
            aoe: Cell,
            range: Around(min_distance: 2, max_distance: 5, check_los: true),
            effects: [Heal(amount: 460)]
        ),
    ])
)
